/*
Main
*/
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    transition: background-color 0.3s ease, color 0.3s ease; /* Added transition */
}

header, footer {
    text-align: center;
    color: #ffffff;
}

header {
    background-color: #3498db;
    padding: 20px;
}

footer {
    background-color: #333;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #34495e;
    color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease; /* Added transition */
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
Navigation
*/
nav {
    background-color: #2980b9;
    padding: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

li {
    display: inline;
    margin: 0 10px;
}

/* Added a class for fade-in effect */
.fade-in {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

#back-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#back-button:hover {
    background-color: #c0392b;
}
/*
Library
*/
